<div class="container maxTaille">
<table class="table table-striped col-md-12">  
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date de Naissance</th>
      <th scope="col">Creneau</th>
    </tr>        
  </thead>
  <tbody>
    <tr *ngFor="let eleve of this.schooServ.dataEleves;let indexElev = index">
      <td>{{eleve.elvNumero}}</td>
      <td>{{eleve.elvName}}</td>
      <td>{{eleve.elvPrenom}}</td>
      <td>{{eleve.elvDtNaissance}}</td>
      <td>{{eleve.creneau}}</td>
    </tr>
  </tbody>
</table>
</div>
